{% extends 'index.html' %}
{% block content %}


<body class="bg-light">


<section>


    <div class="container-fluid py-5">
        <h2 class="text-center">About Us</h2>

        <div class="row p-4">
            <div class="col-12 col-md-5 text-center p-4">
                <img src="/static/images/about.jpg" alt="..." class="img-fluid" style="max-width: 100%;">
            </div>

            <div class="col-12 col-md-7 ">

                <p class="lh-lg mt-3" style="text-align: justify;">
                    ABC College has been a guiding light for ambitious students seeking a fulfilling education and
                    career. Our unwavering commitment to excellence has shaped us into an institution of distinction.
                    Here, we create an environment where quality meets innovation. Our faculty, renowned in their
                    fields, not only impart knowledge but also mentor students towards greatness. Our modern
                    classrooms and personalized counseling ensure that every student's journey is unique and
                    supported.</p><br>

                    <p class="lh-lg" style="text-align: justify;">
                        We take pride in our comprehensive courses, tailored for both educators and
                    students to gauge progress effectively. With ABC College, you're not just stepping into a
                    college; you're stepping into a legacy of quality education, growth, and success.</p><br>

                <p class="fst-italic">
                Welcome to <strong>ABC College of Engineering</strong>, where your journey towards greatness begins.
                </p>
            </div>
        </div>
    </div>


</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>


{% endblock content %}