{% extends 'index.html' %}
{% block content %}
<body>

<div class="container p-5 text-center">
  <h1 class="text-center mb-3">{{ object.name }}</h1>
  <div class="row">
    <div class="col-md-6 p-3 text-center">
      <img src="{{ object.dep_image }}" alt="..." class="img-fluid w-100">

    </div>

    <div class="col-md-6 p-3">
      <p class="lh-lg" style="text-align: justify;">{{ object.description }}</p>

    </div>

  </div>
  <a href="{% url 'dep_list' %}"><button type="button" class="btn btn-dark mt-5 w-25">Go Back</button> </a>
</div>

</body>

{% endblock content %}