{% extends 'dashboard.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Attendance</title>
</head>
<body>

<section>
    <table class="table table-striped align-middle mt-5 mb-0 bg-white">
        <thead>
        <tr class="table-dark">
            <th>Date</th>
            <th>Subject</th>
            <th>Mark</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for mark in mark_list %}
        <tr>
            <td>{{ mark.exam_date }}</td>
            <td>{{ mark.subject.name }}</td>
            <td>{{ mark.marks_obtained }}</td>
            <td>{{ mark.total_marks }}</td>
        </tr>
        {% endfor %}




            {% if percentage < 35 %}
            <tr class="table-danger">
                <td colspan="2"><strong>PERCENTAGE</strong></td>
            <td>{{ percentage | floatformat:"2" }}%</td>
            <td class="text-danger"><strong>FAILED</strong></td>
            </tr>
            {% else %}
         <tr class="table-success">
             <td colspan="2"><strong>PERCENTAGE</strong></td>
            <td>{{ percentage | floatformat:"2" }}%</td>
            <td class="text-success"><strong>PASS</strong></td class="text-success">
        </tr>
        {% endif %}

        </tbody>

    </table>

    <div class="row my-5">
            <a href="{% url 'student_dashboard' %}"><button class="btn btn-dark">Go Back</button></a>
        </div>

</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

<!--<h1>Mark List</h1>-->
<!--<ul>-->
<!--  {% for mark in mark_list %}-->
<!--  <li>Subject : {{mark.subject.name}},-->
<!--      Date : {{mark.exam_date}},-->
<!--      Mark : {{mark.marks_obtained}}-->
<!--      Total : {{mark.total_marks}}-->
<!--  </li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!--{% if percentage < 35 %}-->
<!--<h3 class="text.success">Percentage : {{ percentage | floatformat:"2" }} %</h3>-->
<!--{% else %}-->
<!--<h3 class="text.danger">Percentage : {{ percentage | floatformat:"2" }} %</h3>-->
<!--{% endif %}-->


</body>
</html>
{% endblock content %}